/.gradle/
/.idea/
/build/
/gradle/
/src/main/resources/credentials.properties
/debug.log
/gradlew
/gradlew.bat
/settings.gradle
.settings/org.eclipse.buildship.core.prefs
.vscode/
allure-results/
bin/
.classpath
.project
